@font-face {
    font-family: SF-Pro-Display;
    src: url('../fonts/SF-Pro-Display-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: SF-Pro-Display;
    src: url('../fonts/SF-Pro-Display-Medium.otf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: SF-Pro-Display;
    src: url('../fonts/SF-Pro-Display-Semibold.otf');
    font-weight: 600;
    font-style: normal;
}


@mixin h1 {
    font-size: 150rem;
    line-height: 100%;
    font-weight: 500;
}
@mixin h2 {
    font-size: 64rem;
    line-height: 90%;
    font-weight: 500;
}

@mixin txt3 {
    font-size: 32rem;
    line-height: 120%;
    font-weight: 500;
}

@mixin txt2 {
    font-size: 24rem;
    line-height: 120%;
    font-weight: 500;
}

@mixin btn {
    font-size: 20rem;
    line-height: normal;
    font-weight: 600;
}

@mixin description {
    font-size: 20rem;
    line-height: normal;
    font-weight: 500;
}

@mixin link {
    font-size: 16rem;
    line-height: normal;
    font-weight: 400;
}

@mixin caption {
    font-size: 20rem;
    line-height: normal;
    font-weight: 400;
}

@mixin txt1 {
    font-size: 16rem;
    line-height: 120%;
    font-weight: 400;
}
