@import 'colors', 'fonts';


.header-navbar {
    @apply flex flex-row items-center;

}

.header-logo{
    width: 40rem;
    height: 40rem;
}

header {
    padding: 20rem;
    @apply min-w-full flex flex-row justify-between;

    .header-navbar-item {
        padding: 10rem;
        margin-left: 65rem;
        @include link;
        text-transform: uppercase;
    }
}


